.allcontent {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 1100px;
}

.navigation button {
	font-family: american typewriter;
	font-size: 100%; 
	background-color: #6395F3; 
	border-style: outset;
	border-radius: 15px;
	border-width: 5px;
	border-color: #9DBEFA;
	width: 200px;
	height: 50px;
}

.enclose {
	background-image: url("http://i.imgur.com/NTBFWqQ.jpg");
	width: 1100px;
	height: 700px;
	margin-top: 10px;
	position: relative;
}

.open {
	width: 1000px;
	height: 600px;
	background-color: transparent;
	position: absolute;
	right: 50px;
	top: 50px;
}

#content1 {
	text-align: center;
	font-family: apple chancery;
	font-size: 60pt;
	color: #FFFFFF;
	position: relative;
	top: 30px;
}

#enclose2 {
	width: 1100px;
	height:700px;
	background-color: #6395F3;
	position: relative;
}
.sub {
	width: 400px;
	height: 700;
}
#image1 {
	float: left;
}

.intro {
	position: absolute;
	width: 600px;
	height: 600px;
	right: 50px;
	top: 50px;
}

.intro header {
	font-family: apple chancery;
	font-size: 30pt;
	color: #FFFFFF;
	position: absolute;
	top: 65px;
}

.intro header span {
	font-style: italic;
}

.footer {
	width: 1100px;
	height: 150px;
	background-color: #8F9CF5;
	display: block;
}

.footer .footerimage {
	width: 400px;
	height: 60px;
	float: left;
	background-color: #8F9CF5;
}

.footer .footerlinks button {
	font-family: american typewriter;
	font-size: 100%;
	background-color: #8F9CF5;
	border-style: none;
	font-size: 15pt;
	width: 233.333px;
	height: 30px;
	float: right;
	display: inline;
}

.missionstatement {
	width: 1100px;
	height: 1400px;
	background-color: #90F5EB;
}


/*l
l
l
l
l
l
l
l
l
l
l
l
l
l
l
l
l
l
l
l
l
l*/